body {
  margin: 10px;
  background-color: #f1e9d5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12.5pt;
  color: #333;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 4px;
  text-decoration: none;
  font-size: 12.5pt;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #eed189;
  color: black;
}

.logotitle {
  display: block;
  margin: 10px 0px;
  max-width: 100%;
  width: 450px;
  height: 97px;
}

img {
  margin: 10px 0px;
  max-width: 100%;
  max-height: 400px;
}

.cover {
  width: 309px;
  height: 400px;
}

figcaption {
  font: italic 11pt sans-serif;
}

p {
  max-width: 1000px;
}

li {
  max-width: 900px;
}

em {
  color: red;
  font-weight: bold;
}

ttl {
  font-size: 12pt;
  font-weight: bold;
  font-style: italic;
}

cmnt {
  font-size: 0.82rem;
  font-style: italic;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #303311;
    color: #CCC;
  }
  a:link {
    color: cyan;
  }
  a:visited {
    color: lightcyan;
  }
}
